{% extends "base.html" %}

{% block content %}

<div class="card p-4 shadow">
    <h3 class="mb-4">Add Patient</h3>

    <form method="POST">

        <div class="row">

            <div class="col-md-6 mb-3">
                <label>Name</label>
                <input name="name" class="form-control">
            </div>

            <div class="col-md-3 mb-3">
                <label>Age</label>
                <input name="age" type="number" class="form-control">
            </div>

            <div class="col-md-3 mb-3">
                <label>Cholesterol</label>
                <input name="cholesterol" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label>Blood Pressure</label>
                <input name="blood_pressure" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label>Blood Sugar</label>
                <select name="fasting_blood_sugar" class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label>ECG</label>
                <select name="resting_ecg" class="form-control">
                    <option>Normal</option>
                    <option>Abnormal</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
              <label>Exercise Angina</label>
              <select name="exercise_angina" class="form-control">
                 <option value="Yes">Yes</option>
                 <option value="No">No</option>
              </select>
           </div>

        </div>

        <button class="btn btn-success">Save</button>

    </form>

</div>

{% endblock %}