{% extends "base.html" %}

{% block content %}

<div class="card p-4 shadow">
    <h3 class="mb-4">Edit Patient</h3>

    <form method="POST">

        <div class="row">

            <div class="col-md-6 mb-3">
                <label>Name</label>
                <input type="text" name="name" class="form-control"
                       value="{{ patient['name'] }}">
            </div>

            <div class="col-md-3 mb-3">
                <label>Age</label>
                <input type="number" name="age" class="form-control"
                       value="{{ patient['age'] }}">
            </div>

            <div class="col-md-3 mb-3">
                <label>Cholesterol</label>
                <input type="number" name="cholesterol" class="form-control"
                       value="{{ patient['cholesterol'] }}">
            </div>

            <div class="col-md-4 mb-3">
                <label>Blood Pressure</label>
                <input type="text" name="blood_pressure" class="form-control"
                       value="{{ patient['blood_pressure'] }}">
            </div>

            <div class="col-md-4 mb-3">
                <label>Fasting Blood Sugar</label>
                <select name="fasting_blood_sugar" class="form-control">
                    <option {{ 'selected' if patient['fasting_blood_sugar']=='Yes' else '' }}>Yes</option>
                    <option {{ 'selected' if patient['fasting_blood_sugar']=='No' else '' }}>No</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label>Resting ECG</label>
                <select name="resting_ecg" class="form-control">
                    <option {{ 'selected' if patient['resting_ecg']=='Normal' else '' }}>Normal</option>
                    <option {{ 'selected' if patient['resting_ecg']=='Abnormal' else '' }}>Abnormal</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label>Exercise Angina</label>
                <select name="exercise_angina" class="form-control">
                    <option {{ 'selected' if patient['exercise_angina']=='Yes' else '' }}>Yes</option>
                    <option {{ 'selected' if patient['exercise_angina']=='No' else '' }}>No</option>
                </select>
            </div>

        </div>

        <div class="mt-3">
            <button class="btn btn-success">Update</button>
            <a href="/dashboard" class="btn btn-secondary">Cancel</a>
        </div>

    </form>

</div>

{% endblock %}