<!DOCTYPE html>
<html>
<head>
<title>Create Account</title>
</head>

<body>

<h1>Create Account</h1>

<form method="POST">

<label>Email</label><br>
<input type="email" name="username" required>
<br><br>

<label>Password</label><br>
<input type="password" name="password" required>
<br><br>

<label>Role</label><br>
<select name="role">
<option value="patient">Patient</option>
<option value="clinician">Clinician</option>
</select>

<br><br>

<button type="submit">Register</button>

</form>

<br>

<a href="/">Back to login</a>

</body>
</html>